In [2]:
import pandas as pd

notas = pd.Series([10,5,7.5,9,10]) #Cria uma serie do Pandas. OBS: A presença de um único valor float faz com que todos os inteiros da serie se tornem do tipo float

print(notas) #Imprime a serie

0    10.0
1     5.0
2     7.5
3     9.0
4    10.0
dtype: float64
[10.   5.   7.5  9.  10. ]
RangeIndex(start=0, stop=5, step=1)

In [7]:
print(notas.values) #Imprime apenas os valores

[10.   5.   7.5  9.  10. ]

In [8]:
print(notas.index) #Imprime informaçôes sobre o índice: INICIO, FINAL e PASSO

RangeIndex(start=0, stop=5, step=1)

# MUDANDO O VALOR DO ÍNDICE

In [9]:
notas2 = pd.Series(notas.values, index= ['Gabriel', 'Eduardo', 'Thalita', 'Wellington', 'Karen']) #Deste modo podemos trocar a numeração do índice pelos valores da lista

print(notas2)

Gabriel       10.0
Eduardo        5.0
Thalita        7.5
Wellington     9.0
Karen         10.0
dtype: float64

In [10]:
print(notas.describe()) #Apresenta alguns dados estatísticos sobre a Seria, tais como Média, Valor Máximo, Valor Mínimo e etc.

count     5.000000
mean      8.300000
std       2.109502
min       5.000000
25%       7.500000
50%       9.000000
75%      10.000000
max      10.000000
dtype: float64

In [11]:

print(notas.mean()) #Podemos ver apenas alguns desses valores estatísticos apenas o chamando

8.3

In [12]:
print(notas**2) #É possível também realizar calculos com todos os valores da Seria de uma única vez

0    100.00
1     25.00
2     56.25
3     81.00
4    100.00
dtype: float64

# Transformando uma Serie em Data Frame
Desta forma a serie fica apresentável

In [4]:
frame = pd.DataFrame(notas**2)
frame

        0
0  100.00
1   25.00
2   56.25
3   81.00
4  100.00

# Renomenado a coluna 0

In [6]:
frame.columns = ['Notas ao Quadrado']
frame

   Notas ao Quadrado
0             100.00
1              25.00
2              56.25
3              81.00
4             100.00